<nav class="navbar">
  <div class="navbar__wrapper">
    <ul class="navbar__menu">
      <li class="navbar__link_li link1"><a class="navbar__link" href="">Home</a></li>
      <li class="navbar__link_li link2"><a class="navbar__link" href="">User Photos</a></li>
      <li class="navbar__link_li link3"><a class="navbar__link" href="">Documentation</a></li>
      <li class="navbar__link_li link4"><a class="navbar__link" href="">Change Log</a></li>
      <li class="navbar__link_li link5"><a class="navbar__link" href="">Stats & Graphs</a></li>
      <li class="navbar__link_li link6"><a class="navbar__link" href="">Donate</a></li>
      <li class="navbar__link_li link7"><a class="navbar__link" href="">Copyright notice</a></li>
      <li class="navbar__link_li link8"><a class="navbar__link" href="">Photoshop Extension</a></li>
    </ul>
  </div>
</nav>
