<footer class="footer">
  <div class="container">
    <p class="footer__title">Random generator</p>
    <div class="content">
      <div class="developer">
        <div class="builder">
          <h3>developed</h3>
          <a href="#">
            <img src="assets/icon/desi.svg" alt="">
          </a>
        </div>
        <div class="builder">
          <h3>designed</h3>
          <a href="#">
            <img src="assets/icon/dev.svg" alt="">
          </a>
        </div>
      </div>
      <div class="copyright">
        <div class="subtitle">Copyright Notice</div>
        <div class="text">All randomly generated photos were hand picked from the authorized section of
          <a href="">UI Faces.</a>
          Please visit
          <a href="">UI Faces FAQ</a>
          for more information regarding how you can use these faces.
        </div>
      </div>
    </div>
  </div>
</footer>

