.footer {
  background: #2c2e31;
  display: flex;
  justify-content: center;
  color: white;

  .container {
    max-width: 730px;
    text-align: center;

    .footer__title {
      margin: 50px 0;
      font-size: 48px;
      font-weight: 100;
      text-transform: uppercase;
    }

    .content {
      display: flex;

      .developer {
        display: flex;
        flex: 0 0 50%;
        margin-bottom: 25px;

        h3 {
          margin: 16px 0;
        }

        .builder {
          flex: 0 0 50%;
        }

        img {
          height: 80px;
          width: 80px;
          background: white;
          border-radius: 50%;
        }
      }

      .copyright {
        flex: 0 0 50%;
        text-align: start;
        font-size: 12px;
        color: #999;
        line-height: 1.75;
        font-weight: 100;
        margin-bottom: 25px;

        .subtitle {
          margin: 16px 0;
          color: #fff;
          font-size: 16px;
          font-weight: 100;
        }

        .text {
          a {
            color: #83ba43;
            text-decoration: none;
          }
        }
      }
    }
  }
}



