<div class="wrapper">
  <div class="section__title">
    <h1>Random user generator</h1>
    <p class="section__title_paragraph">
      'A free, '
      <a class="twitter__p" id="" href="#">open source</a>
      ' API for generating random user data. Like Lorem Ipsum, but for people. '
    </p>
    <a class="twitter" href="#"><img class="twitter_img" src="./../../assets/icon/twitter.png" alt="">Follow us
      @randomapi</a>
  </div>
  <div class="section__card" switcher>
    <div class="card" *ngIf="getUserData$ | async as userData">
      <div class="details">
        <div class="decor__block"></div>
        <div class="section__photo">
          <a href="#">New</a>
          <img class="card__photo" src="" alt="">
        </div>
        <div class="section__user-info">
          <div class="description">{{userData.info}}</div>
          <div class="info">Lorem ipsum dolor sit amet.</div>
        </div>
      </div>
      <div class="icon">
        <ul class="icon__list" #ulTag>
          <li class="icon__list_li user active" switcher [typeName]="'user'" [ulTag]="ulTag"></li>
          <li class="icon__list_li mail" switcher [typeName]="'mail'" [ulTag]="ulTag"></li>
          <li class="icon__list_li birthday" switcher [typeName]="'birthday'" [ulTag]="ulTag"></li>
          <li class="icon__list_li address" switcher [typeName]="'address'" [ulTag]="ulTag"></li>
          <li class="icon__list_li phone" switcher [typeName]="'phone'" [ulTag]="ulTag"></li>
          <li class="icon__list_li password" switcher [typeName]="'password'" [ulTag]="ulTag"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
